<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color:burlywood;
  color: black;
  text-align: center;
  font-size: small;
}
</style>

<div class="footer">
  <p>Created by <em> {{author}}</em></p>
</div>